<html>

<head>
  <title>guestbook</title>
  <link rel="stylesheet" href="css/guestbook.css">
  <script src="script/comments.js"></script>
</head>

<body>
  <header>
    <a href="index.html">&NestedLessLess;</a>
    <p>Guest Book</p>
  </header>

  <h2>Leave a comment</h2>
  <form>
    <div>
      Name: __NAME__
    </div>
    <div>
      <label for="comment">Comment:</label>
      <textarea name="comment" id="comment" cols="15" rows="3"></textarea>
    </div>
    <input onclick="addComment()" type="button" value="SUBMIT">
  </form>

  <h3>Comments:</h3>
  <div class="comments">
    __COMMENTS__
  </div>
</body> </br>
<form action="/logout" method="post">
  <input type="submit" name="logout" value="logout">
</form>
</div>

</body>

</html>