body {
  width: 960px;
  margin: 0 auto;
}

header {
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.comments {
  margin-top: 10px;
  padding: 10px;
}