body {
  width: 960px;
  margin: 0 auto;
  font-size: larger;
}

h1 {
  text-align: center;
  border-bottom: 1px solid gray;
  text-align: right;
  color: orange;
}

.container {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}